.recipeMainInfo {
  padding-top: 0;
  margin-bottom: 32px;
}

.title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--black);
  line-height: 1.33333;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-bottom: 20px;
}

.category span {
  padding: 10px 10px;
  font-size: 14px;
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 20px;
  font-weight: 500;
  line-height: 1.28571;
  letter-spacing: -0.28px;
}

.description {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 20px;
  line-height: 1.42857;
  letter-spacing: -0.28px;
}

.authorBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.authorImage {
  width: 36px;
  height: 36px;
  border-radius: 30px;
  object-fit: cover;
}

.authorText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.authorLabel {
  font-size: 12px;
  color: var(--gray);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.24px;
}

.authorName {
  font-size: 14px;
  font-weight: 700;
  color: var(--gray);
  cursor: pointer;
  line-height: 1.42857;
  letter-spacing: -0.28px;
}

.authorName:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .recipeMainInfo {
    margin-bottom: 40px;
  }

  .info {
    max-width: none;
    text-align: left;
  }

  .title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--black);
    line-height: 1.16667;
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }

  .category {
    gap: 8px;
  }

  .description {
    font-size: var(--base-font-size);
    font-weight: 500;
    color: var(--black);
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }

  .authorImage {
    width: 50px;
    height: 50px;
  }
  .authorLabel {
    font-size: 14px;
    color: var(--gray);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }

  .authorName {
    font-size: var(--base-font-size);
    font-weight: 700;
    color: var(--black);
    cursor: pointer;
    line-height: 1.42857;
    letter-spacing: -0.28px;
  }
}

@media (min-width: 1440px) {
  .recipeMainInfo {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 0;
  }

  .description {
    font-size: var(--base-font-size);
    color: var(--dark-gray);
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
  .authorImage {
    width: 50px;
    height: 50px;
  }

  .authorLabel {
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: -0.28px;
  }

  .authorName {
    font-size: var(--base-font-size);
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}
