.subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.28px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .subtitle {
    color: var(--gray);
    max-width: 343px;
  }
}
@media screen and (min-width: 768px) {
  .subtitle {
    color: var(--black);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
    width: 531px;
  }
}
