.testimonialsSection {
  text-align: center;
  padding: 64px 16px 80px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.testimonialsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.title {
  margin-bottom: 12px;
}
.testimonialsSlider {
  width: 100%;
  max-width: 100%;
}

.testimonialCard {
  background: transparent;
  padding: 20px;
  box-sizing: border-box;
}

.icon {
  width: 40px;
  height: 32px;
  fill: var(--gray);
  margin-left: 0;
  display: block;
}

.text {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--black);
  margin: 20px 0;
  padding-bottom: 80px;
}

.author {
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 64px;
  margin-bottom: 54px;
}

:global(.swiper-pagination) {
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-width: 14px;
  --swiper-pagination-bullet-height: 14px;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  --swiper-pagination-bullet-vertical-gap: 8px;
}

.swiper-pagination-bullets {
  margin-top: 20px;
  width: 14px !important;
  height: 14px !important;
}

:global(.swiper-pagination) {
  --swiper-pagination-bullet-inactive-color: var(--gray);
  --swiper-pagination-bullet-active-color: black;
}

:global(.swiper-pagination-bullet) {
  background-color: var(--gray) !important;
  opacity: 1 !important;
}

:global(.swiper-pagination-bullet-active) {
  background-color: black !important;
  opacity: 1 !important;
}

:global(.swiper-pagination-bullet) {
  cursor: pointer !important;
  transition: transform 0.2s;
}

:global(.swiper-pagination-bullet:hover) {
  transform: scale(1.2);
  cursor: pointer !important;
}

@media screen and (min-width: 768px) {
  .testimonialsSection {
    max-width: 704px;
    padding: 100px 32px;
  }
  .icon {
    width: 59px;
    height: 48px;
  }
  .text {
    font-size: 24px;
    line-height: 36px;
    margin: 40px 0;
  }
  .author {
    margin-top: 80px;
    margin-bottom: 56px;
  }
  .swiper-pagination-bullets {
    margin-top: 20px;
    width: 16px !important;
    height: 16px !important;
  }
}

@media screen and (min-width: 1440px) {
  .testimonialsSection {
    max-width: 822px;
    padding: 120px 0;
  }
}
