.overlay {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  height: 100%;
  width: 100%;
  min-width: 320px;
  z-index: 999;
  padding: 24px;
  background-color: var(--black);
  color: var(--white);
}

.wrapper {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWhite {
  fill: var(--white);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.link {
  font-family: var(--base-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: var(--gray);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
