.heroSection {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  padding: 0 8px;
  margin: 0 auto;
}

.heroContainer {
  background-color: var(--black);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  overflow: hidden;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 120px;
  padding-bottom: 30px;
  width: 100%;
}

.title {
  color: var(--white);
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 327px;
  margin: 0 auto;
  text-transform: uppercase;
}

.subtitle {
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02px;
  text-align: center;
  margin: 0 auto;
  max-width: 326px;
}

.heroButton {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.heroButton:hover {
  background-color: var(--white);
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .heroSection {
    max-width: 768px;
    padding: 0 16px;
  }

  .heroContainer {
    padding: 0 29px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .textWrapper {
    gap: 40px;
    padding-top: 151px;
    padding-bottom: 30px;
  }
  .title {
    font-size: 70px;
    line-height: 70px;
    max-width: 678px;
  }

  .subtitle {
    line-height: 24px;
    max-width: 577px;
  }

  .heroButton {
    padding: 16px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .heroSection {
    max-width: 1440px;
    padding: 0 20px;
  }
  .textWrapper {
    padding-top: 88px;
    padding-bottom: 40px;
  }

  .title {
    font-size: 90px;
    line-height: 90px;
    max-width: 875px;
  }
}
