.title {
  color: var(--black);
  font-size: 28px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -0.56px;
  font-style: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .title {
    color: var(--black);
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -0.8px;
    font-style: normal;
    text-transform: uppercase;
  }
}
