.label {
  color: var(--black);
  display: block;
  font-weight: 800;
  letter-spacing: -0.36px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.selectWrapper {
  position: relative;
}

.select,
.selectInput {
  width: 100%;
  padding: 14px;
  border: 1px solid var(--gray);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.28px;
  color: var(--gray);
  appearance: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.select:hover{
  color: var(--black);
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.28px;
  background: transparent;
  border-radius: 30px;
}

.selected {
  color: var(--black);
}

.arrow {
  display: flex;
  width: 18px;
  height: 18px;
  stroke: var(--black);
  stroke-width: 1.8;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.dropdown {
  max-height: calc(2rem * 6);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: absolute;
  top: 48px;
  left: 0;
  background: var(--white);
  border: 1px solid var(--gray);
  list-style: none;
  padding: 16px 18px;
  border-radius: 15px;
  z-index: 10;
  width: 100%;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.dropdownItem {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.28px;
  cursor: pointer;
  padding: 4px 0;
  transition: color 0.2s ease;
}

.dropdownItem:hover {
  font-weight: 700;
}

.noResults {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
  text-align: center;
  padding: 8px 0;
}

.selectControls {
  display: flex;
  align-items: center;
}

.clearButton {
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearIcon {
  width: 14px;
  height: 14px;
  stroke: var(--gray);
  transition: stroke 0.2s ease;
}

.clearButton:hover .clearIcon {
  stroke: var(--red);
}

@media (max-width: 768px) {
  .select,
  .selectInput {
    max-width: 343px;
  }
  .dropdown {
    max-width: 345px;
  }
  .clearIcon {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 768px) {
  .label {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.4px;
    margin-bottom: 16px;
  }
  .select,
  .selectInput {
    padding: 16px 18px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
  .searchInput {
    padding: 16px 18px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
  .dropdown {
    top: 56px;
  }
  .dropdownItem {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
    padding: 6px 0;
  }
  .noResults {
    font-size: 16px;
  }
}

.selectInput {
  padding: 0;
  padding-right: 14px;
}
