.deleteBtn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-gray);
  transition: background 0.2s ease;
}

.deleteBtn:hover {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.icon {
  height: 16px;
  width: 16px;
  stroke: currentColor;
  fill: none;
}

@media screen and (min-width: 768px) {
  .deleteBtn {
    width: 42px;
    height: 42px;
  }

  svg {
    height: 18px;
    width: 18px;
  }
}
