.avatarOuterWrapper {
  position: relative;
  display: inline-block;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.userAvatar {
  width: 80px;
  height: 80px;
}

.followerAvatar {
  width: 60px;
  height: 60px;
}

.followingAvatar {
  width: 60px;
  height: 60px;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--black);
  width: 100%;
  height: 100%;
}

.avatarIconWrapper svg {
  width: 50%;
  height: 50%;
}

.avatarInputWrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.avatarInput {
  display: none;
}

@media (min-width: 768px) {
  .userAvatar {
    width: 120px;
    height: 120px;
  }

  .followerAvatar,
  .followingAvatar {
    width: 85px;
    height: 85px;
  }
}