

.title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--black);
  line-height: 1.33333;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 1.42857;
  color: var(--gray);
  margin-bottom: 0;
}
.text + .text {
  margin-top: 20px;
}

.favoriteBtn {
  align-self: start;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 20px;
  border: 1px solid var(--gray);
  border-radius: 30px;
  color: var(--gray);
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  line-height: 1.42857;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  margin-top: 32px;
}

.favoriteBtn:hover {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
}


@media (min-width: 768px) {
  .wrapper{
    max-width: 704px;
  }
  .title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }
  .text {
    font-size: var(--base-font-size);
    line-height: 1.5;
    color: var(--dark-gray);
  }
  .favoriteBtn {
    font-size: var(--base-font-size);
    padding: 16px 32px;
    border: 1px solid var(--gray);
    line-height: 1.5;
    letter-spacing: -0.32px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .favoriteBtn {
    color: var(--dark-gray);
  }
}
