.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lightNav {
  color: var(--black);
}

.darkNav {
  color: var(--white);
}

.navList {
  display: none;
}

@media screen and (min-width: 768px) {
  .navList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .navList {
    gap: 54px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .navListHidden {
    display: none;
  }
}

.link {
  padding: 14px;
  font-family: var(--base-font);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: color 0.3s ease, border 0.3s ease, transform 0.3s ease;
}

.lightLink {
  composes: link;
  color: var(--black);
}

.darkLink {
  composes: link;
  color: var(--white);
}
.lightLink:hover{
  border-radius: 30px;
  transform: scale(1.05);
  color: var(--white);
  background-color: var(--black);
}

.darkLink:hover {
  border: 1px solid var(--gray);
  border-radius: 30px;
  transform: scale(1.05);
  color: var(--black);
  background-color: var(--white);
}

.lightActive {
  border: 1px solid var(--gray);
  border-radius: 30px;
}

.darkActive {
  border: 1px solid var(--white);
  border-radius: 30px;
}
