.ingredients {
  margin-bottom: 32px;
}

.title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--black);
  line-height: 1.33333;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  min-width: 152px;
  height: 75px;
  gap: 10px;
  position: relative;
}

.imageWrapper {
  width: 75px;
  height: 75px;
  border: 1px solid var(--gray);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 10px;
}

.imageWrapper img {
  object-fit: contain;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  line-height: 1.42857;
  letter-spacing: -0.28px;
}

.amount {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857;
  letter-spacing: -0.28px;
  color: var(--gray);
}

.removeButton {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  position: absolute;
  top: 0;
  right: 0;
}

.removeButton:hover {
  color: var(--red);
}

@media (min-width: 768px) {
  .ingredients {
    margin-bottom: 40px;
  }
  .title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .item {
    min-width: 178px;
    height: 90px;
    gap: 14px;
    position: relative;
  }
  .imageWrapper {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    padding: 15px;
  }

  .name {
    font-size: var(--base-font-size);
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
  .amount {
    font-size: var(--base-font-size);
    line-height: 1.5;
    letter-spacing: -0.32px;
  
  }
  .textBlock {
    gap: 4px;
    }
}

