.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 343px;
  min-width: 320px;
}

.title {
  color: var(--black);
  text-align: center;
  font-family: var(--base-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.text {
  color: var(--gray);
  text-align: center;
  font-family: var(--base-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.28px;
  padding-bottom: 32px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 250px;
  width: 100%;
}

.modalButton {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 14px 50px;
  font-size: 14px;
  line-height: 1.43;
}

.modalButtonSize {
  padding: 12px 50px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 401px;
    width: 100%;
  }

  .title {
    font-size: 0;
    position: relative;
    padding-bottom: 0px;
  }

  .title::after {
    content: 'Are you logging out?';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: 800;
    line-height: 1.32;
    color: var(--black);
    text-transform: uppercase;
    width: 400px;
  }

  .text {
    color: var(--dark-gray);
    text-align: center;

    font-family:  var(--base-font);
    font-size: var(--base-font-size);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.32px;
    padding-bottom: 0;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 401px;
    width: 100%;
  }
  .modalButton {
    padding: 18px 114px;
    font-size: 15px;
    gap: 10px;
  }

  .modalButtonSize {
    padding: 15px 114px;
    gap: 10px;
  }
}
