.ingredientsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 32px;
}

.quantityInput {
  width: 100%;
  max-width: 343px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.28px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--black);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray);
}

.quantityInput::placeholder {
  color: var(--gray);
}

.addIngredientButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;
  width: fit-content;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  color: var(--black);
  cursor: pointer;
  transition: all 0.5s ease;
  margin-bottom: 32px;
}
.addIngredientButton svg {
  stroke: var(--black);
}

.addIngredientButton:hover {
  color: var(--white);
  background-color: var(--black);
}

.addIngredientButtonInactive:hover {
  background-color: var(--gray);
}

.addIngredientButton:hover svg {
  transition: stroke 0.5s ease;
  stroke: var(--white);
}

.errorMessage {
  position: absolute;
  color: var(--red);
  font-size: 12px;
  margin-top: 4px;
  font-weight: 500;
}


@media screen and (max-width: 767px) {
  .ingredientsContainer {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .ingredientsContainer {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .ingredientsContainer {
    margin-bottom: 40px;
  }
  .quantityInput {
    font-size: var(--base-font-size);
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
  .addIngredientButton svg {
    width: 22px;
    height: 22px;
  }
  .addIngredientButton {
    padding: 16px 32px;
    border: 1px solid var(--black);
    font-size: var(--base-font-size);
    line-height: 1.5;
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }
}
